<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/places/tabs/offers'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ !isLoading && place? 'Edit ' +  place.title : 'Error' }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateOffer()" [disabled]="!isLoading && !form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading || !place" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading && place">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>
        </ion-col>
        <ion-col size="6">
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput #message maxlength="256" formControlName="description" placeholder="Describe your place..." rows="8"></textarea>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
